$color-green-light: #99e54a;
$color-green-normal: #6cd401;
$color-green-dark: #5ab404;

$fn-fg: #000000;
$fn-bg: #ffffff;
$fn-border: #dadada;
$fn-label: #676767;

$color-red-light: #f18686;
$color-red-dark: #9f0b0b;
